
@{
    ViewBag.Title = "ChinhSach_BaoMat";
    Layout = "~/Views/Share/_HomeLayout.cshtml";
}

<main>
    <div class="bg-cafe">
        <img src="~/Image/bg-cafe.png" />
    </div>

    <div class="container my-3">
        <div class="the-title">
            <h1>Chính sách bảo mật</h1>
        </div>

        <div class="the-date">
            <h2><i class="fa-regular fa-calendar text-danger"></i> Thứ 2, ngày 3 tháng 10 năm 2022, 06:45 GMT+7</h2>
        </div>

        <div class="the-content">
            <h4>Vui lòng đọc những chính sách bảo mật này cẩn thận</h4>
            <strong>1. Điều khoản bảo mật</strong>
            <p>Tại ứng dụng Boiz Coffee, chúng tôi cam kết tuân thủ việc bảo vệ quyền riêng tư và bảo mật thông tin cá nhân (gọi tắt là “Thông tin cá nhân”) mà bạn cung cấp. Chính sách bảo mật thông tin cá nhân này nêu ra cách thức chúng tôi thu thập, sử dụng, xử lý, tiết lộ và bảo vệ Thông tin cá nhân khi bạn sử dụng ứng dụng Boiz Coffee. Vui lòng đọc Chính sách bảo mật thông tin cá nhân một cách cẩn trọng. Nếu bạn không đồng ý với các điều khoản trong Chính sách bảo mật thông tin cá nhân này, vui lòng không truy cập ứng dụng Boiz Coffee.</p>
            <p>Chúng tôi cam kết bảo mật thông tin cho dù có thay đổi hay sửa đổi chính sách này bất luận thời gian và bất cứ lý do nào. Bất kỳ sự thay đổi về chính sách quyền riêng tư này sẽ được thông báo trước khi thực hiện. Chúng tôi khuyến khích bạn xem lại Chính sách bảo mật thông tin cá nhân này thường xuyên để cập nhật thay đổi và thực hiện quyền quản lý thông tin cá nhân của bạn. Chúng tôi xem rằng bạn đã nhận biết và chấp nhận các thay đổi hay sửa đổi nào của Chính sách bảo mật thông tin cá nhân này khi tiếp tục sử dụng ứng dụng Boiz Coffee kể từ ngày thông báo.</p>
            <p>Chính sách bảo mật thông tin cá nhân này không áp dụng đối với ứng dụng của bên thứ ba mà bạn đã tải và cài đặt hoặc thanh toán, mà họ dựa trên đó đã thu thập và sử dụng dữ liệu của bạn. Chúng tôi không chịu trách nhiệm đối với bất kỳ thông tin nào mà bên thứ ba đó đã thu thập.</p>
            <strong>2. Mục đích và phạm vi thu thập thông tin</strong>
            <p> - Mục đích: Với nỗ lực duy trì dịch vụ của chúng tôi đơn giản tối đa, chúng tôi không tạo, sử dụng hoặc lưu trữ thông tin của khách hàng ngoài mục đích phục vụ khách hàng.</p>
            <b> - Phạm vi thu thập thông tin: Chúng tôi thu thập Thông tin cá nhân khi:</b><br />
            <b> - Đăng ký thành viên</b>
            <p>Chúng tôi thu thập và xử lý các thông tin gồm số điện thoại (bắt buộc), họ tên, ngày sinh, giới tính, địa chỉ email khi bạn đăng ký trở thành thành viên của ứng dụng Boiz Coffee.</p>
            <b> - Đăng ký nhận tin tức của chúng tôi</b>
            <p>Ứng dụng Boiz Coffee thu thập và xử lý thông tin của bạn để phục vụ và tương tác với bạn tốt hơn thông qua việc gửi thông báo đẩy (push notification), bản tin khuyến mãi.</p>
            <b> - Đặt hàng</b>
            <p>Chúng tôi thu thập thông tin về quá trình truy cập và sử dụng ứng dụng để đặt hàng tại một trong những cửa hàng của chúng tôi. Thông tin này bao gồm loại thiết bị bạn đang sử dụng, nhà cung cấp dịch vụ internet, địa chỉ IP, mã số thiết bị của bạn, chức năng bạn truy cập hoặc sử dụng, vị trí của bạn khi sử dụng ứng dụng.</p>
            <b> - Thanh toán</b>
            <p>Trong phạm vi các quy định hiện hành cho phép, khi bạn thanh toán cho các giao dịch trên ứng dụng di động của chúng tôi, chúng tôi thu thập thông tin thanh toán từ bạn thông qua (các) nhà cung cấp dịch vụ thanh toán của chúng tôi để tạo điều kiện thuận lợi cho việc thanh toán cho bạn, bao gồm tên trên thẻ thanh toán, số thẻ, hạn sử dụng và mã xác minh.</p>
            <b> - Thông tin khảo sát, tin khuyến mãi và dự thi</b>
            <p>Chúng tôi có thể gửi đến bạn các chương trình cuộc thi, khảo sát đề cử, khuyến mãi. Chúng tôi lưu thông tin cá nhân khi bạn tham gia cuộc khảo sát.</p>
            <b> - Liên hệ Boiz Coffee</b>
            <b>Những thông tin khác mà chúng tôi sẽ thu thập</b>
            <p>Chúng tôi thu thập và xử lý Thông tin cá nhân như họ tên, địa chỉ email và số điện thoại khi bạn đồng ý gửi thông tin hoặc phản hồi và yêu cầu trợ giúp.</p>
            <b> - Thông tin thống kê</b>
            <p>Khi bạn sử dụng ứng dụng chúng tôi sẽ ghi nhận lại thông tin lần truy cập ứng dụng và mục đích yêu cầu của bạn, nó không bao gồm Thông tin cá nhân.</p>
            <b> - Cookies</b>
            <p>Chúng tôi tùy vào từng thời điểm, sẽ sử dụng “cookie” và công nghệ theo dấu khác để lưu trữ thông tin yêu thích và thông tin chính mỗi lần bạn ghé thăm và truy cập ứng dụng Boiz Coffee để cải thiện ứng dụng Boiz Coffee nhằm phục vụ bạn tốt hơn.</p>
            <strong>3. Chúng tôi sử dụng thông tin của bạn như thế nào?</strong>
            <p>Chúng tôi thu thập và sử dụng Thông tin cá nhân nhằm phục vụ cho các mục đích:</p>
            <p>Xử lý đơn hàng của bạn: Thông tin được lưu khi bạn mua sản phẩm của chúng tôi, tiến hành giao hàng, tích lũy điểm và trao thưởng. Chúng tôi cũng có thể liên lạc với bạn cho mục đích khảo sát phục vụ khách hàng.</p>
            <p>Duy trì tài khoản: để tạo và duy trì tài khoản của bạn trên ứng dụng Boiz Coffee, bao gồm các chương trình khách hàng thành viên hoặc các chương trình khuyến mại, thưởng đi kèm với tài khoản của bạn.</p>
            <p>Dịch vụ người tiêu dùng: chúng tôi ghi nhận để hiểu thói quen mua sắm của bạn để xây dựng chương trình phù hợp. Dịch vụ chăm sóc khách hàng: ghi nhận và phản hồi các ý kiến, yêu cầu, khiếu nại để phục vụ bạn tốt hơn. Chúng tôi sẽ sử dụng số điện thoại và / hoặc địa chỉ email để liên hệ với bạn khi bạn gửi những câu hỏi hay đề xuất.</p>
            <p>Theo yêu cầu của pháp luật: tùy theo quy định của pháp luật có hiệu lực từng thời điểm, chúng tôi có thể thu thập, lưu trữ và cung cấp theo yêu cầu của cơ quan nhà nước có thẩm quyền.</p>
            <p>Chúng tôi sẽ lưu trữ lịch sử tìm kiếm của bạn trong hệ thống nhằm mục đích nâng cao chất lượng tìm kiếm lần sau của bạn được chính xác, phù hợp với nhu cầu của bạn</p>
            <p>Và bất cứ trường hợp, tình huống nào khác mà Dữ liệu cá nhân của bạn có thể được cung cấp, tiết lộ cho chúng tôi với hành vi tương tác hoặc không có chấp thuận rõ ràng của bạn trong quá trình sử dụng dịch vụ. Với việc sử dụng và tiếp tục sử dụng dịch vụ hoặc tương tác trên ứng dụng , bạn thừa nhận đã biết về các khả năng thu thập dữ liệu cá nhân của người dùng là thu thập hợp pháp.</p>
            <strong>4. Thời gian lưu trữ</strong>
            <p>Thông tin cá nhân sẽ được lưu trữ đến khi:</p>
            <p> - Khách hàng có yêu cầu hủy bỏ.</p>
            <p> - Ứng dụng của Boiz Coffee không còn hoạt động hoặc việc lưu trữ dữ liệu không còn cần thiết cho mục đích kinh doanh, pháp lý của Boiz Coffee.</p>
            <strong>5. Những người và/hoặc tổ chức có thể được tiếp cận Thông tin cá nhân</strong><br />
            <b>Không chia sẻ Thông tin cá nhân</b><br />
            <p>Chúng tôi không tiết lộ bất kỳ thông tin nào về giao dịch của khách hàng cho bất cứ ai ngoại trừ những tình huống sau:</p>
            <b>Những người có thẩm quyền, bộ phận IT và bộ phận chăm sóc khách hàng theo quy định của Boiz Coffee:</b><br />
                                                                                                                      <p>Những người này được tiếp cận Thông tin cá nhân của bạn nhằm mục đích phục vụ công việc bảo mật và chăm sóc khách hàng, đồng thời cam kết bảo mật thông tin khách hàng theo quy định của Boiz Coffee.</p>
            <p>Bộ phận công nghệ thông tin có thể tiếp cận những thông tin về số điện thoại, họ tên, ngày sinh, giới tính, địa chỉ email, số tài khoản ngân hàng, địa chỉ IP, hệ điều hành, trình duyệt, mã định danh thiết bị di động,v.v. trong quá trình bạn sử dụng dịch vụ</p>
            <p>Bộ phận chăm sóc khách hàng có thể truy cập được những thông tin về Tên tài khoản, số điện thoại, email, v.v.</p>
            <b>Cung cấp thông tin cho đối tác, bên cung cấp dịch vụ</b><br />
            <p>Chúng tôi có thể cung cấp Thông tin cá nhân giới hạn trong phạm vi cần thiết cho các đối tác là bên cung cấp dịch vụ cho chúng tôi liên quan đến các mục đích được nêu tại Mục 2 trên đây, trên cơ sở áp dụng các quy định về đảm bảo an ninh, bảo mật thông tin.</p>
            <b>Những nghĩa vụ về luật pháp</b><br />
                                              <p>Chúng tôi sẽ phải tuân thủ luật pháp khi theo yêu cầu của cơ quan có thẩm quyền phải tiết lộ thông tin mà bạn cung cấp cho chúng tôi với mục đích chứng minh các sản phẩm hay dịch vụ của Boiz Coffee. Chúng tôi cũng có thể tiết lộ thông tin các cá nhân gây hại cho chúng tôi (ví dụ khách hàng giả mạo) hoặc sở hữu những hành vi đe doạ người khác.</p>
            <b>Công ty liên kết</b><br />
            <p>Chúng tôi có thể cung cấp Thông tin cá nhân trong trường hợp thực hiện các chương trình liên kết, hợp tác, thuê ngoài cho các mục đích nêu tại Mục 2 và luôn áp dụng các yêu cầu bảo mật thông tin cá nhân.</p>
            <strong>6. Bạn điều chỉnh và truy cập thông tin của bạn như thế nào?</strong>
            <p>Bạn có quyền cung cấp thông tin cá nhân cho chúng tôi và có quyền tự kiểm tra, cập nhật, điều chỉnh thông tin cá nhân của mình bằng cách đăng nhập tài khoản và chỉnh sửa thông tin cá nhân. Bạn cũng có thể yêu cầu chúng tôi thực hiện việc này.</p>
            <p>Nếu bạn đã đăng ký tài khoản với chúng tôi, bạn có thể truy cập và sửa Dữ liệu cá nhân thông qua mục Cài đặt tài khoản trên Ứng dụng.</p>
            <p>Nếu bạn chưa đăng ký tài khoản với chúng tôi, bạn có thể yêu cầu truy cập, chỉnh sửa Dữ liệu cá nhân bằng cách gửi văn bản yêu cầu cho chúng tôi qua thư điện tử hoặc liên hệ đến số điện thoại: 0123 456 789</p>
            <p>Đối với yêu cầu truy cập vào Dữ liệu cá nhân, chúng tôi sẽ cung cấp cho người dùng các dữ liệu có liên quan trong vòng 10 ngày. Trường hợp không thể đáp ứng yêu cầu trong vòng 10 ngày, chúng tôi sẽ thông báo đến bạn thời gian sớm nhất có thể cung cấp các thông tin yêu cầu. Đối với yêu cầu chỉnh sửa Dữ liệu cá nhân, khi có thông tin đầy đủ từ bạn, chúng tôi sẽ tiến hành chỉnh sửa thông tin trong vòng 10 ngày. Trường hợp chúng tôi không thể đáp ứng thời gian 10 ngày, chúng tôi sẽ thông báo đến bạn thời gian sớm nhất có thể thưc hiện.</p>
            <strong>7. Chúng tôi bảo mật thông tin của bạn như thế nào</strong>
            <p>Để đảm bảo độ tin cậy về bảo mật thông tin, chúng tôi sử dụng những kỹ thuật bảo mật và quy trình chuẩn được xem xét và cập nhật thường xuyên.</p>
            <p>Hệ thống của chúng tôi được cấu hình với tiêu chuẩn mã hoá công nghiệp và công nghệ tường lửa. Khi bạn gửi Thông tin cá nhân cho chúng tôi trên Internet, dữ liệu của bạn đã được bảo vệ bởi công nghệ SSL để bảo đảm an toàn trên đường truyền và chỉ có thể truy cập bởi nhân viên có quyền truy cập đặc biệt tới hệ thống.</p>
        </div>
    </div>
</main>
