
@{
    ViewBag.Title = "GioiThieu_NgheNghiep";
    Layout = "~/Views/Share/_HomeLayout.cshtml";
}

<main>
    <div class="bg-introduce">
        <img src="~/Image/bg-nghe-nghiep.png" />
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-8">
                <div class="introduce">
                    <h1>Nghề nghiệp</h1>
                    <h3>Cơ hội này là của chúng mình</h3>
                    <p>Chúng mình biết rằng để thành công, bạn muốn làm việc với những đồng nghiệp tuyệt vời, tận hưởng những khoảng thời gian đẹp nhất, hiệu quả nhất, thể hiện được tài năng, đam mê của mình và được là chính mình nhất. Tại cộng đồng Boiz của chúng mình, bạn sẽ được truyền cảm hứng từ các cơ hội việc làm chúng mình có và trở thành phiên bản tốt nhất của chính bản thân trong cộng đồng của chúng mình.</p>
                    <p>Chúng mình hoàn toàn tin tưởng rằng nhiệm vụ của Boiz là trao quyền cho bạn, hỗ trợ bạn trong quá trình bạn tỏa sáng, tạo kiện tốt nhất để bạn nâng cấp kỹ năng vốn có của bạn cũng như khai phá những tố chất tiềm ẩn để bạn chạm đến PHIÊN BẢN TỐT NHẤT của bản thân. Cho dù bạn mới bắt đầu sự nghiệp hay đang là một chuyên gia có thật nhiều kinh nghiệm, tương lai của bạn đều có thể bắt đầu từ đây để hoàn thiện chính mình trong hành trình chinh phục những thử thách đầy hoài bão.</p>
                    <p>Bạn đã sẵn sàng để nắm lấy cơ hội kiến tạo sự nghiệp cùng chúng mình để góp sức dựng xây một <strong>Boiz Coffee® Là Của Chúng Mình?</strong></p>
                    <h3>HÃY CÙNG CHÚNG MÌNH KHÁM PHÁ NHÉ:</h3>
                    <a class="btn-job" href="#">Tuyển dụng <i class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>

            <div class="col-4">
                <div class="introduce">
                    <table>
                        <tr>
                            <td>
                                <a href="/home/gioithieu_nguongoc">
                                    <img src="~/Image/bg-nguon-goc.png" />
                                    <h2>Nguồn gốc</h2>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a href="/home/gioithieu_dichvu">
                                    <img src="~/Image/bg-dich-vu.png" />
                                    <h2>Dịch vụ</h2>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

