
@{
    ViewBag.Title = "GioiThieu_DichVu";
    Layout = "~/Views/Share/_HomeLayout.cshtml";
}

<main>
    <div class="bg-introduce">
        <img src="~/Image/bg-nguon-goc.png" />
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-8 ">
                <div class="introduce">
                    <h1>Dịch vụ</h1>
                    <h3>Dịch vụ này là của chúng mình</h3>
                    <strong>Chúng mình có thể làm gì để hoàn thiện Boiz Coffee®?</strong>
                    <p>Boiz Coffee® là không gian của chúng mình nên mọi thứ ở đây đều vì sự thoải mái của chúng mình.</p>
                    <p>Đừng giữ trong lòng, hãy chia sẻ với chúng mình điều bạn mong muốn để cùng nhau giúp Boiz Coffee® của chúng mình trở nên tuyệt vời hơn.</p>
                    <strong>Đừng ngại chia sẻ ý kiến của bạn tại:</strong>
                    <p>Facebook: <a style="color:#fd6133" href="https://vi-vn.facebook.com/">https://vi-vn.facebook.com/</a></p>
                    <p>Hoặc bạn có thể gửi email cho chúng mình đến địa chỉ: <span style="color:#fd6113">support@st.huflit.edu.vn</span>, chúng mình sẽ phản hồi trong thời gian sớm nhất có thể.</p>
                </div>
            </div>

            <div class="col-4">
                <div class="introduce">
                    <table>
                        <tr>
                            <td>
                                <a href="/home/gioithieu_nghenghiep">
                                    <img src="~/Image/bg-nghe-nghiep.png" />
                                    <h2>Nghề nghiệp</h2>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a href="/home/gioithieu_nguongoc">
                                    <img src="~/Image/bg-nguon-goc.png" />
                                    <h2>Nguồn gốc</h2>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

