<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="icon" href="~/Image/icon-logo.png" type="image/x-icon" />
    <title>Boiz Coffee</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/_wed.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
</head>
<body>
    <Header id="header" class="container py-2">
        <nav class="container-fluid ">
            <div class="row">
                <div class="col-2 position-relative">
                    <a class="icon-cart" href="#">
                        <i class="fa-brands fa-opencart text-black fs-4"></i>
                        <div class="cart-number">0</div>
                    </a>
                </div>

                <div class="col-8 px-3 ">
                    <div class="row">
                        <div class="col-5 d-flex justify-content-evenly align-items-center">
                            <ul class="nav fw-medium">
                                <li class="nav-item ">
                                    <a class="nav-link text-black" href="/home/gioithieu_nguongoc">GIỚI THIỆU</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link text-black" href="~/ProductClient/Index">SẢN PHẨM</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-2 px-0 logo">
                            <a href="/">
                                <img src="~/Image/logo-cafe.png" />
                            </a>
                        </div>

                        <div class="col-5 d-flex justify-content-evenly align-items-center">
                            <ul class="nav fw-medium">
                                <li class="nav-item">
                                    <a class="nav-link text-black" href="#">DỊCH VỤ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-black" href="/home/tintuc">TIN TỨC</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-2 position-relative a-login">
                    <a class=" fw-medium text-black position-absolute top-50 end-0 translate-middle-y" href="/Login/Login">ĐĂNG NHẬP</a>
                </div>
            </div>
        </nav>
    </Header>
    <hr />
    @RenderBody()

    <Footer id="footer">
        <div class="list-footer container row">
            <div class="col-6 ">
                <h2>Liên hệ</h2>
                <div class="contact">
                    <a href="/">
                        <img src="~/Image/logo-cafe.png" />
                    </a>
                </div>

                <h2>Fanpage</h2>
                <div class="position-relative mx-auto" style="width:350px">
                    <img class="rounded d-block mx-auto position-absolute" src="~/Image/bg-facebook.png" style="width:350px; height:140px" />
                    <div class="position-absolute">
                        <div class=" d-flex pt-1 ps-1">
                            <a href="https://vi-vn.facebook.com/"><img src="~/Image/logo-facebook.png" style="width: 50px" /></a>
                            <a href="https://vi-vn.facebook.com/"><img src="~/Image/facebook.png" style="height: 50px" /></a>
                        </div>
                        <div class="fanpage">
                            <a class="follow-page " href="https://vi-vn.facebook.com/" style="float:left">Theo dõi trang</a>
                            <a class="share-page " href="https://vi-vn.facebook.com/" style="float:right"><i class="fa-solid fa-share"></i> Chia sẻ</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 ">
                <h2>Điều khoản</h2>
                <ul class="dieukhoan">
                    <li class="ps-5"><a class="text-white-50" href="/home/dieukhoan_sudung">Điều khoản sử dụng</a></li>
                    <li class="ps-5"><a class="text-white-50" href="/home/chinhsach_baomat">Chính sách bảo mật</a></li>
                </ul>
                <h2 class="pt-4 pb-2">Giới thiệu</h2>
                <ul>
                    <li class="text-white-50 ps-5"><i class="fa-solid fa-location-dot"></i> 828 Sư Vạn Hạnh, Phường 13, Quận 10, TP.HCM</li>
                    <li class="text-white-50 ps-5"><i class="fa-solid fa-phone"></i> 0123 456 789</li>
                    <li class="text-white-50 ps-5"><i class="fa-solid fa-envelope"></i> support@st.huflit.edu.vn</li>
                </ul>
            </div>
        </div>
    </Footer>

    <div id="zalo">
        <a href="https://id.zalo.me/account?continue=https://chat.zalo.me">
            <img src="~/Image/zalo.png" />
        </a>
    </div>

    <div id="scroll-top">
        <a href="#"><img src="~/Image/icon-arrow.png" /></a>
    </div>

    <script>
        window.addEventListener('scroll', function () {
            if (window.scrollY > 350) {
                document.getElementById('scroll-top').style.display = 'block';
            }
            else {
                document.getElementById('scroll-top').style.display = 'none';
            }
        });
    </script>
</body>
</html>
